/*
 * 修改浏览器默认的滚动条样式
 */
::selection {
  background: rgba(var(--vs-primary), 0.2);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track-piece {
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

body {
  overflow-x: hidden;
  font-family: "Microsoft YaHei", "微软雅黑", "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// 修正图标大小
.material-icons {
  font-size: inherit;
}

// 修改 element 图片预览组件的关闭按钮颜色
.el-image-viewer__wrapper {
  .el-image-viewer__close {
    right: 50%;
    color: #ececec;
    background: rgba(0, 0, 0, 0.15);
  }
}

// 修改 vuesax 表格搜索框样式
.vs-con-table {
  .vs-table--search {
    margin-right: 20px;

    .vs-table--search-input {
      padding: 0.5rem 2.5rem;
      border: 1px solid rgba(0, 0, 0, 0.15);
      font-size: 1rem;

      &+i {
        left: 1rem;
      }

      &:focus+i {
        left: 1rem;
      }
    }

    .vs-icon {
      font-size: 1.4rem;
    }
  }
}

// 修改 vuesax 中等按钮的字体大小
.vs-button:not(.medium, .large) {
  & .vs-button-text {
    font-size: 0.875rem;
  }
}

// 聊天拖拽
.vdr.active::before {
  outline: none;
}