/*
 * 修改浏览器默认的滚动条样式
 */
::selection {
  background: rgba(120, 108, 240, 0.2);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d1d1d3;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track-piece {
  background-color: rgb(245, 245, 245);
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  max-width: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-icons {
  font-size: inherit;
}

// 修改 element 图片预览组件的关闭按钮颜色
.el-image-viewer__wrapper {
  .el-image-viewer__close {
    right: 50%;
    color: #ececec;
  }
}