$primary: #7367f0; // 主色
$success : rgb(23, 201, 100);
$danger: rgb(242, 19, 93);
$warning:rgb(255, 130, 0);
$dark: rgb(36, 33, 69);

$baseShadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); // 基础投影

// Sidebar
$menuIcon: #545454; // 侧边栏图标颜色
$side-bar-width: 240px; // 侧边栏宽度

// Navbar
$navIcon: #686868; // 顶部导航栏图标颜色

//  Footer
$footer-height: 65px;